@import url('https://fonts.googleapis.com/css?family=Dancing+Script|Delius');
/* Global Styles */

:root {
  --color-primary: rgba(73, 39, 74, 1);
  --color-primary-dark: rgba(51, 24, 50, 1);
  --color-primary-light: rgba(148, 97, 142, 1);
  --color-light: rgba(248, 238, 231, 1);
  --color-light-2: rgba(244, 222, 203, 1);
  --font-primary: 'Delius', cursive;
  --font-decorative: 'Dancing Script', cursive;
  font-size: 16px;
}

* {
  box-sizing: border-box;
  margin: 0;
  padding: 0;
}

body {
  font-family: var(--font-primary);
  line-height: 1.6;
  background-color: var(--color-primary-dark);
}

a {
  color: var(--color-primary);
  text-decoration: none;
}

a:hover {
  color: var(--color-primary-light);
}

ul {
  list-style: none;
}

img {
  width: 100%;
}

/* Utilities */

.container {
  max-width: 98%;
  min-height: 85vh;
  margin: 1rem auto;
  overflow: hidden;
  padding: 2rem;
  background: var(--color-light);
  border-radius: 3px;
  color: var(--color-primary);
}

/* Text Styles*/

.comment {
  font-size: 0.9rem;
  font-family: var(--font-primary);
  color: var(--color-primary);
}

h1 {
  color: var(--color-light);
  font-family: var(--font-decorative);
  font-size: 2.5rem;
}

h2 {
  color: var(--color-primary);
  font-family: var(--font-decorative);
  font-size: 2rem;
  padding-top: 2rem;
  padding-left: 1rem;
}

h3 {
  color: var(--color-primary);
  font-family: var(--font-decorative);
  font-size: 1.5rem;
}

h4 {
  color: var(--color-primary-dark);
  font-family: var(--font-primary);
  font-size: 1rem;
}

p {
  color: var(--color-primary);
  font-family: var(--font-primary);
  font-size: 1rem;
}

.bold {
  color: var(--color-primary);
  font-family: var(--font-primary);
  font-size: 1rem;
  font-weight: 700;
}

/* Center All */

.all-center {
  display: flex;
  flex-direction: column;
  width: 100%;
  margin: auto;
  justify-content: center;
  align-items: center;
  text-align: center;
}

/* Cards */

.card {
  padding: 1rem;
  border: #ccc 1px dotted;
  margin: 0.7rem 0;
}

.spinner {
  margin: 10rem;
}

.services {
  width: 100%;
}

.service-details {
  width: 80%;
}

.service-image {
  width: 10rem;
  height: 10rem;
}

.posts {
  border-left: var(--color-primary) 1px dotted;
  max-width: 20rem;
  justify-self: right;
  max-height: 70vh;
  overflow: scroll;
}

.posts::-webkit-scrollbar {
  display: none;
}

.post-image {
  width: 50%;
}

/* List */

.list {
  padding: 0.5em;
  border-bottom: var(--color-primary-dark) 1px dotted;
  margin: 0.1rem 0;
}

.list:last-child {
  border-bottom: none;
}

.list li {
  padding-bottom: 0.3rem;
}

/* Grid */

.grid-2 {
  display: grid;
  grid-template-columns: repeat(2, 1fr);
  grid-gap: 1rem;
}

.grid-3 {
  display: grid;
  grid-template-columns: repeat(3, 1fr);
  grid-gap: 1rem;
}

.grid-4 {
  display: grid;
  grid-template-columns: repeat(4, 1fr);
  grid-gap: 1rem;
}

.btn {
  display: inline-block;
  background: var(--color-light);
  color: var(--color-primary);
  padding: 0.4rem 1.3rem;
  font-size: 1rem;
  border: var(--color-primary) 1px dotted;
  cursor: pointer;
  margin-right: 0.5rem;
  transition: opacity 0.2s ease-in;
  outline: none;
}

.btn-link {
  background: none;
  padding: 0;
  margin: 0;
}

.btn-block {
  display: block;
  width: 100%;
}

.btn-sm {
  font-size: 0.8rem;
  padding: 0.3rem 1rem;
  margin-right: 0.2rem;
}

.badge {
  display: inline-block;
  font-size: 0.8rem;
  padding: 0.2rem 0.7rem;
  text-align: center;
  margin: 0.3rem;
  background: var(--color-light);
  color: #333;
  border-radius: 5px;
}

.alert {
  padding: 0.7rem;
  margin: 1rem 0;
  opacity: 0.9;
  background: var(--color-light);
  color: #333;
}

.btn-primary, .bg-primary, .badge-primary, .alert-primary {
  background: var(--color-primary);
  color: #fff;
}

.btn-light, .bg-light, .badge-light, .alert-light {
  background: var(--color-light);
  color: var(--color-primary);
  border: var(--color-primary) 1px dotted;
  border-radius: 3px;
}

.btn-dark, .bg-dark, .badge-dark, .alert-dark {
  background: var(--color-primary-dark);
  color: var(--color-light);
  border-radius: 3px;
}

.btn-danger, .bg-danger, .badge-danger, .alert-danger {
  background: rgb(167, 58, 58);
  color: #fff;
}

.btn-success, .bg-success, .badge-success, .alert-success {
  background: var(--color-primary);
  color: var(--color-light);
}

.btn-white, .bg-white, .badge-white, .alert-white {
  background: #fff;
  color: #333;
  border: #ccc solid 1px;
}

.btn:hover {
  opacity: 0.8;
}

.bg-light, .badge-light {
  border: #ccc solid 1px;
}

.round-img {
  border-radius: 50%;
}

/* Forms */

input {
  margin: 1.2rem 0;
}

form {
  width: 90%;
  max-width: 500px;
}

.form-group {
  display: grid;
  grid-template-columns: max-content 1fr;
  align-items: center;
  grid-gap: 1rem;
}

.form-text {
  margin-top: 0.3rem;
  color: var(--color-primary-light);
  font-family: var(--font-primary);
}

input[type='text'], 
input[type='email'], 
input[type='password'], 
input[type='date'], 
input[type='number'], 
select, 
textarea {
  display: inline-block;
  padding: 0.1rem;
  font-size: 1.2rem;
  border: none;
  background: var(--color-light);
  border-bottom: var(--color-primary) 1px dotted;
  outline: none;
}

textarea {
  background-attachment: local;
  min-height: 5rem;
  background-image:
    repeating-linear-gradient(transparent, transparent 1.8rem, var(--color-primary-light) 1.8rem, var(--color-primary-light) 1.8rem, transparent 1.9rem);
    border-bottom: none;
    line-height: 1.8rem;
}

textarea::-webkit-scrollbar {
  display: none;
}

input[type='submit'], button {
  font: inherit;
}

table th, table td {
  padding: 1rem;
  text-align: left;
}

table th {
  background: var(--color-light);
}

/* Navbar */

.navbar {
  display: flex;
  justify-content: space-between;
  align-items: center;
  padding: 0.7rem 2rem;
  z-index: 1;
  width: 100%;
  opacity: 0.9;
}

.navbar ul {
  display: flex;
}

.navbar a {
  color: #fff;
  padding: 0.45rem;
  margin: 0 0.25rem;
}

.navbar a:hover {
  color: var(--color-light);
}

.navbar .welcome span {
  margin-right: 0.6rem;
}

/* Mobile Styles */

@media (max-width: 700px) {
  .hide-sm {
    display: none;
  }
  .grid-2, .grid-3, .grid-4 {
    grid-template-columns: 1fr;
  }
  /* Text Styles */
  .large {
    font-size: 2rem;
  }
  .lead {
    font-size: 1rem;
  }
  /* Navbar */
  .navbar {
    display: block;
    text-align: center;
  }
  .navbar ul {
    text-align: center;
    justify-content: center;
  }
}

.item-enter {
  opacity: 0;
}

.item-enter-active {
  opacity: 1;
  transition: opacity 1000ms ease-in;
}

.item-exit {
  opacity: 1;
}

.item-exit-active {
  opacity: 0;
  transition: opacity 1000ms ease-in;
}

@media only screen and (max-width: 62.5em) {
  :root {
    font-size: 75%;
  }
}

@media only screen and (max-width: 37.5em) {
  :root {
    font-size: 50%;
    /* 8px */
  }
}